.container {
  max-width: 60%;
  background: #1c3e55;
  color: #d08a36;
  padding: 100px;
  margin-top: 110px;
  border: solid, blueviolet;
  border-radius: 60px 0;
  font-family: "Space Mono", monospace;
}
.date {
  color: #f2f6f7;
}
.city {
  font-size: 30px;
  color: #feeb40;
  font-style: italic;
}
.weather-description {
  color: #f2f6f7;
}
.btn {
  background-color: #d08a36;
  color: #f2f6f7;
  border: solid #f2f6f7;
  transition: 0.4s ease-in-out;
  max-width: 187px;
}
.btn:hover {
  background-color: #f2f6f7;
  color: #d08a36;
  border-color: #d08a36;
}
.btn:focus {
  background-color: #f2f6f7;
  color: #d08a36;
  border-color: #d08a36;
}
.btn-info {
  background-color: #1c3e55;
}

hr {
  margin: 40px 20px;
}
.temperature {
  font-size: 23px;
  color: #feeb40;
}

.col-6 {
  padding-top: 10px;
  text-align: center;
}
